@model IEnumerable<arlen.Models.Partner>

<h2 class="main-caption col-lg-12 col-md-12 col-sm-12">Клиенты</h2>
<div class="owl-carousel customers-owl owl-theme col-lg-10 offset-lg-1">
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <a class="item" href="@item.Link" target="_blank">
                    <div class="image-outer">
                        <img src='@item.Image' />
                    </div>
                </a>
            }
        }
    }
</div>

@Html.ActionLink("Все клиенты", "Index", "Partners", null, new { @class = "full-pages-button col-xl-2 col-lg-2 col-md-4 col-sm-6 offset-xl-5 offset-lg-5 offset-md-4 offset-sm-3" })