@using arlen.Infrastructure;
@using arlen.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ООО "АРЛЕН"</title>
    <link rel="shortcut icon" href="~/images/logo.png" type="image/png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid">
    @await  Component.InvokeAsync("HeaderPartial")
    <div class="main-page-content">
        @RenderBody()
    </div>
    @await  Component.InvokeAsync("FooterPartial")
    <div id="map" style="height: 300px;">
        @*@{
            AccountManager accManager = new AccountManager();
            User acc = accManager.GetAccount(1);
        }
        @Html.Raw(acc.Map)*@
    </div>
    <script src="~/lib/jquery-scroll/jquery.localScroll.js"></script>
    <script src="~/lib/jquery-scroll/jquery.scrollTo.js"></script>
    <script src="~/js/scroll.js"></script>
</body>
</html>