@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <div class="feed-container">
        <div class="feed-msg feed-success">SUCCESS</div>
        <p>Возврат на <a href="/Home/Index">главную</a> через 3 секунды...</p>
    </div>
</body>
</html>

<script>
    window.setTimeout(function () {
        window.location.href = '/';
    }, 3000);
</script>
